.addressSearchContainer {
  min-width: 500px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  border: none;
  border-radius: 50px;
}

@media all and (max-width: 480px) {
  .addressSearchContainer {
    min-width: 95%;
  }
}

.modeToggle {
  background: #333333;
  font-size: 1rem;
  cursor: pointer;
  opacity: 90%;
  border: 2px solid #333333;
  border-left: 2px solid #2b2b2b;
  color: #666666;
  font-weight: 700;
}
.modeToggle:hover {
  border: 2px solid #009652;
  color: #009652;
}
